<h4 style="font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; text-align:left; float:left; padding-left: 10px;"><a href="http://lts.brandeis.edu/research/archives-speccoll">Robert D. Farber<br />University Archives & Special Collections Department</a></h4>
<h4 style="float:right;">
</h4>
<br />
<br />
<h2 style="font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; font-size: 18px; background-color: #1a1a4d; color: white; text-align: left; margin-top: 20px; clear: both; padding-left: 10px;">Finding Aids Database</h2>

