<h4 style="font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; text-align:left; float:left;">Robert D. Farber<br />University Archives & Special Collections Department</h4>
<h4 style="float:right;">
  <%= image_tag "/assets/lib-tech-logo.png", :alt => I18n.t("brand.title") %>
</h4>
<br />
<br />
<h2 style="font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; background-color: #1a1a4d; color: white; text-align: left; margin-top: 20px; clear: both;">Finding Aids Database</h2>

