<div id = "header">
   <div style="float: right; height: 44px; width: 192px;">
	<a href="http://www.brandeis.edu/"><%= image_tag "/assets/lib-tech-logo.png", :alt => , :alt => "Brandeis University Home" %></a>
   </div>
   <div id="dept"><a style="text-decoration:none;" href="http://lts.brandeis.edu/research/archives-speccoll"><strong>Robert D. Farber</strong><br />
        University Archives &amp; Special Collections Department</a>
   </div>
</div>
<a style="text-decoration: none;" href="/"><h2 style="font-family:'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif; font-size: 18px; background-color: #1a1a4d; color: white; text-align: left; margin-top: 20px; clear: both; padding-left: 10px;">Finding Aids Database</h2></a>
