<div class="brandeis_footer">
<p><a href="http://lts.brandeis.edu/research/archives-speccoll">Robert D. Farber University Archives & Special Collections Department</a></p>
<p><a href="http://mrmt.library.brandeis.edu/cgi-bin/aspace_feedback.pl">E-mail Us</a> | Phone: 781-736-4686 | <a href="http://www.brandeis.edu/about/visiting/directions.html">Map & Directions</a></p>
<p>Visit <a href="http://archivesspace.org">ArchivesSpace.org</a> | <%= ASConstants.VERSION %></p>
 <%= stylesheet_link_tag "/assets/header.css" %>
  <%= stylesheet_link_tag "/assets/brandeis.css" %>
</div>